LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

// inputs on p2
LOCATE COMP "button_1" SITE "D6";
IOBUF PORT "button_1" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "button_2" SITE "D7";
IOBUF PORT "button_2" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "dip" SITE "C13";
IOBUF PORT "dip" IO_TYPE=LVCMOS33 PULLMODE=UP;

LOCATE COMP "led_1" SITE "A11";
IOBUF PORT "led_1" IO_TYPE=LVCMOS33;

LOCATE COMP "led_2" SITE "A12";
IOBUF PORT "led_2" IO_TYPE=LVCMOS33;



// outputs on P3
//Decimal
LOCATE COMP "seg7[7]" SITE "C12";
IOBUF PORT "seg7[7]" IO_TYPE=LVCMOS33;
//A
LOCATE COMP "seg7[6]" SITE "C11";
IOBUF PORT "seg7[6]" IO_TYPE=LVCMOS33;
//B
LOCATE COMP "seg7[5]" SITE "C10";
IOBUF PORT "seg7[5]" IO_TYPE=LVCMOS33;
//C
LOCATE COMP "seg7[4]" SITE "C9";
IOBUF PORT "seg7[4]" IO_TYPE=LVCMOS33;
//D
LOCATE COMP "seg7[3]" SITE "C8";
IOBUF PORT "seg7[3]" IO_TYPE=LVCMOS33;
//E
LOCATE COMP "seg7[2]" SITE "C7";
IOBUF PORT "seg7[2]" IO_TYPE=LVCMOS33;
//F
LOCATE COMP "seg7[1]" SITE "C6";
IOBUF PORT "seg7[1]" IO_TYPE=LVCMOS33;
//G
LOCATE COMP "seg7[0]" SITE "C5";
IOBUF PORT "seg7[0]" IO_TYPE=LVCMOS33;